page-home {

}

.error {
    color:red;
    font-weight: bold;
}

.strong {
    color:#000;
    font-weight: bold;
}

.row-bg:nth-child(odd) {
    background: #e0e0e0 !important;
}

button {
    background: #9f9fff;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 15px;
}